.AddTaskForm {
	display: flex;
	gap: 15px;
}

.AddTaskForm input {
	border-radius: 5px;
	border: 2px solid green;
	width: 250px;
	padding: 0px 15px;
	outline: none;
}

.AddTaskForm input:focus {
	border-color: black;
}

.AddTaskForm input[type="number"] {
	width: 100px;
}
